<script lang="ts">
    import { joinRoom, type Room } from "trystero";

    let appId = "phuck-debugging";
    let roomId = "";
    let hostId = "";

    let alpha = 0;
    let beta = 0;
    let gamma = 0;

    let waitingForConnection = false;
    let connectionStatusText = "";

    $: {
        connectionStatusText =
            !waitingForConnection && hostId
                ? "✅"
                : !waitingForConnection && !hostId
                ? "📝"
                : waitingForConnection
                ? "⏳"
                : "";
    }

    function connect(e) {
        const room = joinRoom({ appId }, roomId);
        waitingForConnection = true;

        room.onPeerJoin((peerId) => {
            console.log(`${peerId} joined`);
            const [_, getHost] = room.makeAction("announceHost");

            getHost((hostPeerId, senderPeerId) => {
                if (hostPeerId !== senderPeerId) {
                    console.log("Host announcement mismatch", {
                        hostPeerId,
                        senderPeerId,
                    });
                } else {
                    console.log("Received hostId", hostPeerId);
                    hostId = hostPeerId;
                    waitingForConnection = false;

                    beginReporting(room);
                }
            });
        });
    }

    function beginReporting(room: Room) {
        const [sendPhuck] = room.makeAction('phuck');

        window.addEventListener("deviceorientation", (e) => {
            alpha = e.alpha;
            beta = e.beta;
            gamma = e.gamma;

            sendPhuck({ alpha, beta, gamma }, hostId);
        });
    }
</script>

<h1>Phuckjs Controller</h1>
<p>
    Use this in with phuckjs to bring motion controls to your webapps. If you're
    trying to connect to a phuckjs application, <b
        >start with that application and scan the Phuckjs QR-Code when prompted.</b
    >
</p>
<div>waitingForConnection: {connectionStatusText}</div>
<div>hostId: {hostId || "disconnected"}</div>
<form on:submit|preventDefault={connect}>
    <label>
        <h3>App ID</h3>
        <input bind:value={appId} type="text" />
    </label>
    <label>
        <h3>Room ID</h3>
        <input bind:value={roomId} type="text" />
    </label>
    <input type="submit" />
</form>
