:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* { position: relative; }

body {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
  /* background-color: #e5e5f7; */
  /* opacity: 0.8; */
  /* background-image:  repeating-radial-gradient( circle at 50% 500%, transparent 0, #e5e5f7 25px ), repeating-linear-gradient( #444cf755, #444cf7 ); */
  /* background-blend-mode: overlay;
  filter: blur(2px); */
  /* animation: ripples 2s linear infinite; */
}

/* body:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: repeating-linear-gradient( #000000ff, #000000ff, #000000ff, #000000aa, #00000000 );
  pointer-events: none;
} */

@keyframes ripples {
  from { background-position-y: 0, 0; }
  to { background-position-y: 25px, 25px; }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
