<script lang="ts">
    import { onMount } from "svelte";
    import Router from './lib/Router/Router.svelte';
    import Routes from "./routes";

    let app: HTMLElement;
    let router: Router;

    onMount(() => {
        router = new Router({
            target: app,
            props: { routes: Routes },
        });
    });
</script>

<main id="app" bind:this={app} />

<style>
    main {
        max-width: 420px;
    }
</style>
